<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRACKINGMORE_API_KEY</key>
	<string>mqoj8fr9-7efz-gywk-kd59-7n84j8o0xqb1</string>
	<key>TRACKINGMORE_API_KEY_DEFAULT</key>
	<string>&lt;YOUR_API_KEY_HERE&gt;</string>
</dict>
</plist>
